* {
  padding: 0;
  margin: 0;
}

menu {
  background-color: rgb(0, 119, 128);
}

menu ul {
  list-style-type: none;
  padding: 15px;
}

a {
  text-decoration: none;
}

a :hover {
  color: black;
}

a :visited {
  color: fuchsia;
}

h1 {
  display: inline;
  font-size: 1.5em;
}

menu ul li {
  display: inline;
  padding: 30px;
  color: whitesmoke;
  font-family: sans-serif;
}

h2 {
  font-size: 2em;
  color: rgb(0, 119, 128);
  font-family: sans-serif;
  margin-top: 0.5em;
}

main {
  padding-top: 50px;
}

.main-section {
  margin-left: 75px;
}

.about-section {
  width: 70em;
}

p.about-sentence {
  margin-top: 25px;
  font-family: sans-serif;
  font-size: 1.5em;
  color: rgb(48, 47, 47);
}

span {
  color: rgb(0, 119, 128);
}

button.membership {
  margin-top: 30px;
  margin-bottom: 50px;
  color: darkorange;
  background-color: white;
  border: darkorange solid 2px;
  border-radius: 10px;
  padding: 1em;
  font-weight: bold;
}

.instagram,
.facebook,
.youtube {
  color: white;
  padding: 1em;
  width: 10em;
  margin-right: 2em;
  border-radius: 10px;
  margin-top: 1em;
  font-size: 1em;
  font-weight: bold;
  border: none;
  margin-bottom: 2em;
}

button.instagram {
  background-color: rgb(124, 69, 124);
}

button.facebook {
  background-color: blue;
}

button.youtube {
  background-color: red;
}

.testimonials {
  padding-top: 4em;
  width: 75em;
}

.comments {
  margin-left: 1em;
  margin-left: 3em;
  width: 40em;
}

.comment1,
.comment2,
.comment3 {
  margin-left: 5em;
  width: 60em;
  padding: 1.5em;
  margin-bottom: 3em;
  height: 7em;
  border: grey solid 1px;
  border-radius: 3em;
  background-color: rgb(230, 227, 227);
}

.comment2 {
  margin-left: 10em;
}

.comment3 {
  margin-left: 15em;
}

.para-comment1,
.para-comment2,
.para-comment3 {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.1em;
  margin-left: 7em;
  margin-top: -2em;
}

img.fred,
img.joe,
img.jane {
  border-radius: 50%;
}

.name-tag-fred,
.name-tag-joe,
.name-tag-jane {
  margin-left: 0.5em;
  margin-top: -0.1em;
}

.fred-comment,
.joe-comment,
.jane-comment {
  margin-top: -8em;
}

p.para-comment1::before {
  content: open-quote;
  font-size: 5em;
}

p.para-comment2::before {
  content: open-quote;
  font-size: 5em;
}

p.para-comment3::before {
  content: open-quote;
  font-size: 5em;
}

p.para-comment1::after {
  content: close-quote;
  font-size: 5em;
}

p.para-comment2::after {
  content: close-quote;
  font-size: 5em;
}

p.para-comment3::after {
  content: close-quote;
  font-size: 5em;
}

footer {
  background-color: rgb(0, 119, 128);
}

.footer-main {
  margin-top: 2em;
  margin-left: 3em;
}

h3 {
  padding-top: 1em;
}

h3,
.features,
.locations {
  color: whitesmoke;
  font-family: sans-serif;
}

.features,
.locations {
  list-style: none;
  line-height: 1.2em;
}

.features {
  font-weight: bold;
  margin-top: 1em;
  padding-bottom: 2em;
}

.locations {
  font-weight: normal;
  margin-left: 1em;
}

.cards {
  margin-top: 2em;
  padding-top: 2em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2em;
}

.london,
.cardiff,
.glasgow {
  width: 300px;
  height: 400px;
  text-align: center;
  padding-bottom: 2em;
  border: grey 1px solid;
  padding: 1em;
  box-shadow: 10px 10px 8px #888888;
}

.photo-london,
.photo-cardiff,
.photo-glasgow {
  width: 300px;
  height: 200px;
}

.card-title {
  margin-top: 0.5em;
  font-weight: bold;
  margin-bottom: 1em;
}
